@using System.Data
@using sCommerce.Helper
@{
    ViewBag.Title = "Kullanıcılar";

    DataTable dt_kullanicilar = SQL.get("SELECT k.*, p.deger FROM kullanicilar k INNER JOIN parametreler p ON p.parametreID = k.kullaniciTipiParametreID WHERE k.silindi = 0");
    DataTable dt_yetki = SQL.get("SELECT * FROM parametreler WHERE tip = 'kullaniciTipi'");
}

@section style
{
    <link rel="stylesheet" href="~/Content/vendor/dropify/css/dropify.min.css">
}
@section script
{
    <script src="~/Content/assets/js/pages/ui/dialogs.js"></script>
    <script src="~/Content/vendor/dropify/js/dropify.min.js"></script>
    <script>
        function kullanici_sil(kullaniciID) {
            swal({
                title: "Silmek istediğinizden emin misiniz?",
                text: "Silinen kullanıcı geri getirilemez!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Evet, sil!",
                cancelButtonText: "Hayır",
                closeOnConfirm: false
            },
                function () {
                    window.location = "/Admin/kullaniciSil?kullaniciID=" + kullaniciID;
                });
        }
    </script>
}

<div class="row clearfix">
    @{ if (Request.Params["hata"] != null)
        {<div class="alert alert-danger col-md-12" role="alert">@Request.Params["hata"]</div>} }
    @{ if (Request.Params["tepki"] != null)
        {
            if (Request.Params["tepki"].ToString() == "1")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, yeni kullanıcı eklendi...</div> }
            if (Request.Params["tepki"].ToString() == "2")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, kullanıcı güncellendi...</div> }
            if (Request.Params["tepki"].ToString() == "3")
            { <div class="alert alert-info col-md-12" role="alert">Kullanıcı silindi...</div> }

        }
    }
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addcontact"><i class="fa fa-plus"></i> Yeni Kullanıcı</a>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive check-all-parent">
                    <table class="table table-custom table-hover m-b-0 c_list">
                        <thead>
                            <tr>
                                <th>Kullanıcı</th>
                                <th>EMail</th>
                                <th>Telefon</th>
                                <th>Kullanıcı Tipi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr_item in dt_kullanicilar.Rows)
                            {
                                <tr>
                                    <td><p class="c_name">@(dr_item["ad"] + " " + dr_item["soyad"])</p></td>
                                    <td>@dr_item["email"]</td>
                                    <td><span class="phone"><i class="fa fa-phone m-r-10"></i>@dr_item["telefon"]</span></td>
                                    <td>@dr_item["deger"]</td>
                                    <td>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default" data-toggle="modal" data-target="#kullanici_duzenle_@dr_item["kullaniciID"]"><i class="fa fa-edit"></i></a>
                                        <button onclick="kullanici_sil(@dr_item["kullaniciID"])" class="btn btn-danger" title="Delete" type="button"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>

                                <div class="modal fade" id="kullanici_duzenle_@dr_item["kullaniciID"]" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form action="/Admin/kullaniciDuzenle" enctype="multipart/form-data" method="post">
                                                <div class="modal-header">
                                                    <h6 class="title" id="defaultModalLabel">Kullanıcı Düzenle</h6>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row clearfix">
                                                        <input name="kullaniciID" type="hidden" value="@dr_item["kullaniciID"]" />
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Ad</label>
                                                                @Html.TextBox("ad", dr_item["ad"], new { @type = "text", @class = "form-control", @placeholder = "Ad", @autocomplete = "off" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Soyad</label>
                                                                @Html.TextBox("soyad", dr_item["soyad"], new { @type = "text", @class = "form-control", @placeholder = "Soyad", @autocomplete = "off" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Telefon</label>
                                                                @Html.TextBox("telefon", dr_item["telefon"], new { @type = "tel", @class = "form-control", @placeholder = "Telefon", @autocomplete = "off" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">E-Mail</label>
                                                                @Html.TextBox("eMail", dr_item["email"], new { @type = "email", @class = "form-control", @placeholder = "E-Mail", @autocomplete = "off" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Şifre</label>
                                                                @Html.TextBox("sifre", dr_item["sifre"], new { @type = "password", @class = "form-control", @placeholder = "Şifre", @autocomplete = "off" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Yetki</label>
                                                                <select name="kullaniciTipiParametreID" class="form-control">
                                                                    @foreach (DataRow item in dt_yetki.Rows)
                                                                    {
                                                                        <option value="@item["parametreID"]" @{if (Convert.ToInt32(dr_item["kullaniciTipiParametreID"]) == Convert.ToInt32(item["parametreID"])) { @("selected")  } }>@item["deger"]</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Düzenle</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addcontact" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("kullaniciEkle", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Kullanıcı Ekle</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Ad</label>
                                @Html.TextBox("ad", null, new { @type = "text", @class = "form-control", @placeholder = "Ad", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Soyad</label>
                                @Html.TextBox("soyad", null, new { @type = "text", @class = "form-control", @placeholder = "Soyad", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Telefon</label>
                                @Html.TextBox("telefon", null, new { @type = "tel", @class = "form-control", @placeholder = "Telefon", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">E-Mail</label>
                                @Html.TextBox("eMail", null, new { @type = "email", @class = "form-control", @placeholder = "E-Mail", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Şifre</label>
                                @Html.TextBox("sifre", null, new { @type = "password", @class = "form-control", @placeholder = "Şifre", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Yetki</label>
                                <select name="kullaniciTipiParametreID" class="form-control">
                                    @foreach (DataRow item in dt_yetki.Rows)
                                    {
                                        <option value="@item["parametreID"]">@item["deger"]</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ekle</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                </div>
            }
        </div>
    </div>
</div>

