@using sCommerce.Models
@using sCommerce.Helper
@{
    ViewBag.Title = "Siparişler";
    SiparisFilter siparisFilter = ViewBag.siparisFilter;
    List<Siparis> siparisler = siparisFilter.GetSiparisler(); 
    
    int sayfa_sayisi = Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(siparisFilter.GetCount()) / siparisFilter.count));

    int minSayfa = (siparisFilter.page < 2 ? 1 : siparisFilter.page - 1);
    int maxSayfa = (siparisFilter.page + 4 > sayfa_sayisi ? sayfa_sayisi : siparisFilter.page + 4);
}

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5>Sipariş Filtreleri</h5>
            </div>
            <form method="POST" action="/Admin/SiparisFiltrele">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="tax-id" class="control-label">Sipariş Durumu</label>
                                <select name="siparisDurum" class="form-control">
                                    <option>HEPSİ</option>
                                    <option value="@((int)siparisDurum.odemeBekliyor)" @(siparisFilter.siparisDurums.Where(x => x == (int)siparisDurum.odemeBekliyor).Count() > 0 ? "selected" : "")>Ödeme Bekliyor</option>
                                    <option value="@((int)siparisDurum.hazirlaniyor)" @(siparisFilter.siparisDurums.Where(x => x == (int)siparisDurum.hazirlaniyor).Count() > 0 ? "selected" : "")>Hazırlanıyor</option>
                                    <option value="@((int)siparisDurum.kargoda)" @(siparisFilter.siparisDurums.Where(x => x == (int)siparisDurum.kargoda).Count() > 0 ? "selected" : "")>Kargoda</option>
                                    <option value="@((int)siparisDurum.odemeBasarisiz)" @(siparisFilter.siparisDurums.Where(x => x == (int)siparisDurum.odemeBasarisiz).Count() > 0 ? "selected" : "")>Ödeme Başarısız</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="fancy-checkbox">
                                <input type="checkbox" @(siparisFilter.teslimGoster ? "checked" : "") value="1" name="teslimGoster">
                                <span>Teslim Edilenleri Göster</span>
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="fancy-checkbox">
                                <input type="checkbox" @(siparisFilter.iptalGoster ? "checked" : "") value="1" name="iptalGoster">
                                <span>İptal Edilenleri Göster</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block">FİLTRELE</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
            </div>
            <div class="body">
                <div class="table-responsive check-all-parent">
                    <table class="table table-custom table-hover m-b-0 c_list">
                        <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Sipariş No</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th>Ödeme Tipi</th>
                                <th>Toplam Adet</th>
                                <th>Toplam Fiyat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Siparis siparis in siparisler)
                            {
                                <tr>
                                    <td>@siparis.ad @siparis.soyad</td>
                                    <td>#@siparis.siparisID</td>
                                    <td>@siparis.kayitTarihi.ToString("dd.MM.yyyy")</td>
                                    <td>@siparis.GetSiparisDurum()</td>
                                    <td>@siparis.GetOdemeTipi()</td>
                                    <td>@siparis.GetToplamAdet() Adet</td>
                                    <td>@siparis.GetToplamFiyat() TL</td>
                                    <td>
                                        <a href="@Url.Action("SiparisDetay", new { id = siparis.siparisID })" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <ul class="pagination">
                    @if (minSayfa > 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("Siparis", new { id = minSayfa - 1 })">...</a></li>
                    }
                    @for (int i = minSayfa; i <= maxSayfa; i++)
                    {
                        <li class="page-item @(i == siparisFilter.page ? "active" : "")"><a class="page-link" href="@Url.Action("Siparis", new { id = i })">@i</a></li>
                    }
                    @if (maxSayfa < sayfa_sayisi)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("Siparis", new { id = maxSayfa + 1 })">...</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

