@using System.Data
@using sCommerce.Helper
@using sCommerce.Models
@using sCommerce.com.n11Category.api
@using sCommerce.com.n11Shipment.api
@using sCommerce.com.n11Product.api
@{
    ViewBag.Title = "Ürün Ekle/Düzenle";

    int urunID = 0;
    int turet = 0;

    Int32.TryParse(Convert.ToString(ViewBag.urunID), out urunID);
    Int32.TryParse(Convert.ToString(ViewBag.turet), out turet);

    Urun urun = new Urun();
    urun.LoadFromID(urunID, true);
    urun.LoadEntegrasyonBilgi();

    List<Kategori> urunKategorileri = new Kategori().GetKategoriler((int)kategoriTipleri.urun);
    List<Ozellik> ozellikler = new Ozellik().GetOzellikler();
    List<ModelGrubu> modelGruplari = new ModelGrubu().GetModelGruplari();
    List<Marka> markalar = new Marka().GetMarkalar();

    N11 n11 = new N11();
    SubCategory[] topCategories = n11.GetTopCategories();
    ShipmentApiModel[] shipmentApiModels = n11.GetShipmentTemplateList();
}

@section style
{
    <link rel="stylesheet" href="~/Content/vendor/dropify/css/dropify.min.css">
    <script src="~/Content/vendor/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/Content/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/Content/vendor/nouislider/nouislider.min.css" />
}
@section script
{
    <script src="~/Content/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/Content/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <script src="~/Content/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/Content/vendor/nouislider/nouislider.js"></script>
    <script src="~/Content/assets/js/pages/forms/advanced-form-elements.js"></script>

    <script>
        var eklenen_ozellik_idler = [];
        function ozellik_ekle() {
            var e = document.getElementById("cmb_ozellik");
            var ozellik_id = e.options[e.selectedIndex].value;
            var ozellik = e.options[e.selectedIndex].innerHTML;

            if (eklenen_ozellik_idler.indexOf(ozellik_id) >= 0)
                return;

            $.ajax({
                url: '/Admin/ozellikDegerGetir?ozellikID=' + ozellik_id,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    var tr = document.createElement("tr");
                    tr.innerHTML =
                        "<td>" + ozellik + "</td>" +
                        "<td>" +
                        "   <select class='form-control' name='ozellikID[]'>" +
                        data.message +
                        "   </select>" +
                        "</td>" +
                        "<td><button onclick='ozellik_sil(this)' class='btn btn-danger' type='button' value='" + ozellik_id + "'><i class='fa fa-trash-o'></i></button></td>";

                    var ozellik_rows = document.getElementById("ozellik_rows");
                    ozellik_rows.appendChild(tr);

                    eklenen_ozellik_idler.push(ozellik_id);
                }
            });
        }

        function ozellik_sil(btn) {
            var ozellik_id = btn.value;
            eklenen_ozellik_idler.splice(eklenen_ozellik_idler.indexOf(ozellik_id), 1);
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        $(function () {
            var imagesPreview = function (input, placeToInsertImagePreview) {
                if (input.files) {
                    var filesAmount = input.files.length;

                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();

                        reader.onload = function (event) {
                            var div = document.createElement("div");
                            div.className = "col-md-3";
                            div.innerHTML = "<input type='hidden' name='resimPath[]' value='" + event.target.result + "' /><input type='hidden' name='resimID[]' value='0' /><img src='" + event.target.result + "' class='gallery-item img-fluid' /><input name='resimSira[]' type='number' class='form-control' value='0' autocomplete='off' /><button onclick='resim_sil(this)' type='button' class='btn btn-danger btn-block'><i class='fa fa-trash-o'></i></button>";
                            var gallery = document.getElementById("gallery");
                            gallery.appendChild(div);
                            //$($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview).attr('class', 'gallery-item img-fluid col-md-4');
                            //$($.parseHTML('<input>')).attr('name', 'resim_path[]').attr('value', event.target.result).appendTo(placeToInsertImagePreview).attr('type', 'hidden');
                            //$($.parseHTML('<button>')).attr('onclick', 'resim_path[]').attr('value', event.target.result).appendTo(placeToInsertImagePreview).attr('type', 'hidden');
                        }

                        reader.readAsDataURL(input.files[i]);
                    }
                }

            };

            $('#urun_resimleri').on('change', function () {
                //$('#gallery').empty();
                imagesPreview(this, 'div.gallery');
            });
        });

        function resim_sil(btn) {
            var row = btn.parentNode;
            row.parentNode.removeChild(row);
        }

        function getSubCategory(select, sira) {
            var n11KategoriSecDiv = $('#n11KategoriSecDiv');

            var n11KategoriID = $('#n11KategoriID');
            var n11KategoriAdi = $('#n11KategoriAdi');
            var n11KategoriName = $('#n11KategoriName');

            var i = 0;
            n11KategoriSecDiv.children('div').each(function () {
                if (i > sira) {
                    this.remove();
                }

                i++;
            });

            $.ajax({
                url: '/Admin/getN11Child',
                type: 'POST',
                dataType: 'HTML',
                data: { id: select.value, sira: sira },
                success: function (data) {
                    if (data.length < 5) {
                        n11KategoriID.val(select.value);
                        n11KategoriAdi.val($('option:selected', $(select)).text());
                        n11KategoriName.val($('option:selected', $(select)).text());
                        $('#n11KategoriSec').modal('hide');
                    } else {
                        $("#n11KategoriSecDiv").append(data);
                    }
                }
            });
        }
    </script>
}
<div class="row clearfix">
    @{ if (Request.Params["tepki"] != null)
        {
            if (Request.Params["tepki"].ToString() == "1")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, yeni ürün eklendi...</div> }
            if (Request.Params["tepki"].ToString() == "2")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, ürün güncellendi...</div> }
            if (Request.Params["tepki"].ToString() == "3")
            { <div class="alert alert-info col-md-12" role="alert">Ürün silindi...</div> }
        }
    }
    <div class="col-lg-12">
        <div class="card">
            <form action="@(urunID == 0 ? "/Admin/urunEkle" : turet == 0 ? "/Admin/urunDuzenle" : "/Admin/urunEkle")" method="post" enctype="multipart/form-data">
                <input type='hidden' name='urunID' value='@urunID' />
                <div class="header">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Ürün @(urunID == 0 ? "Ekle" : turet == 0 ? "Düzenle" : "Türet" + "(" + urunID + ")")</button>
                    </div>
                </div>
                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#genel_bilgiler">Genel Bilgiler</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#veri">Veri</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ozellikler">Özellikler</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#resimler">Ürün Resimleri</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="genel_bilgiler">
                            <h6>Genel Bilgiler</h6>
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Ürün Adı</label>
                                        <input type="text" name="urunAdi" class="form-control" placeholder="Ürün Adı" value="@(urunID == 0 ? "" : urun.urunAdi)" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Kategori</label>
                                        <div class="multiselect_div">
                                            <select id="multiselect1" name="kategoriID[]" class="multiselect" multiple="multiple" required>
                                                @foreach (Kategori kategori in urunKategorileri)
                                                {
                                                    <option value="@kategori.kategoriID" @(urunID == 0 ? "" : urun.urunKategorileri.Where(x => x.kategoriID == kategori.kategoriID).Count() > 0 ? "selected" : "")>@kategori.kategori</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" @(urunID == 0 ? "" : (urun.oneCikanlar == 1 ? "checked" : "")) value="1" name="oneCikanlar">
                                        <span>Öne Çıkan</span>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Ürün Durumu</label>
                                        <select name="urunDurumuParametreID" class="form-control">
                                            <option value="@((int)urunDurumu.aktif)" @(urunID == 0 ? "" : ((int)urunDurumu.aktif == urun.urunDurumuParametreID ? " selected " : ""))>Aktif</option>
                                            <option value="@((int)urunDurumu.pasif)" @(urunID == 0 ? "" : ((int)urunDurumu.pasif == urun.urunDurumuParametreID ? " selected " : ""))>Pasif</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Marka</label>
                                        <select name="markaID" class="form-control">
                                            <option value="0">-</option>
                                            @foreach (Marka marka in markalar)
                                            {
                                                <option value="@marka.markaID" @(urunID == 0 ? "" : (marka.markaID == urun.markaID ? " selected " : ""))>@marka.marka</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Ürün Etiketi</label>
                                        <select name="urunEtiketiParametreID" class="form-control">
                                            <option value="@((int)urunEtiketleri.yok)" @(urunID == 0 ? "" : ((int)urunEtiketleri.yok == urun.urunEtiketiParametreID ? " selected " : ""))>-</option>
                                            <option value="@((int)urunEtiketleri.cokSatan)" @(urunID == 0 ? "" : ((int)urunEtiketleri.cokSatan == urun.urunEtiketiParametreID ? " selected " : ""))>Çok Satanlar</option>
                                            <option value="@((int)urunEtiketleri.indirim)" @(urunID == 0 ? "" : ((int)urunEtiketleri.indirim == urun.urunEtiketiParametreID ? " selected " : ""))>İndirim</option>
                                            <option value="@((int)urunEtiketleri.stoklarda)" @(urunID == 0 ? "" : ((int)urunEtiketleri.stoklarda == urun.urunEtiketiParametreID ? " selected " : ""))>Stoklarda</option>
                                            <option value="@((int)urunEtiketleri.yeni)" @(urunID == 0 ? "" : ((int)urunEtiketleri.yeni == urun.urunEtiketiParametreID ? " selected " : ""))>Yeni</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Açıklama</label>
                                        <textarea name="urunAciklamasi" id="ckeditor_0">@(urunID == 0 ? "" : urun.urunAciklamasi)</textarea>
                                        <script>CKEDITOR.replace('ckeditor_0');</script>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Seo Açıklama</label>
                                        <input type="text" name="seoAciklama" class="form-control" placeholder="Seo Açıklama" value="@(urunID == 0 ? "" : urun.seoAciklama)" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Seo Keywords</label>
                                        <input type="text" name="seoKeywords" class="form-control" placeholder="Seo Keywords" value="@(urunID == 0 ? "" : urun.seoKeywords)" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="veri">
                            <h6>Veri</h6>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Stok Kodu</label>
                                        <input type="text" name="stokKodu" class="form-control" placeholder="Stok Kodu" value="@(urunID == 0 ? "" : urun.stokKodu)" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Model Grubu</label>
                                        <select name="modelGrubuID" class="form-control">
                                            <option value="0">-</option>
                                            @foreach (ModelGrubu modelGrubu in modelGruplari)
                                            {
                                                <option value="@modelGrubu.modelGrubuID" @(urunID == 0 ? "" : (modelGrubu.modelGrubuID == urun.modelGrubuID ? " selected " : ""))>@modelGrubu.modelGrubu</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Depo Lokasyonu</label>
                                        <input type="text" name="depoLokasyonu" class="form-control" placeholder="Depo Lokasyonu" value="@(urunID == 0 ? "" : urun.depoLokasyonu)" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Barkod</label>
                                        <input type="text" name="barkod" class="form-control" placeholder="Barkod" value="@(urunID == 0 ? "" : urun.barkod)" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Stok Bitince</label>
                                        <select name="stokBitinceParametreID" class="form-control">
                                            <option value="@((int)stokBitince.satisaDevam)" @(urunID == 0 ? "" : ((int)stokBitince.satisaDevam == urun.stokBitinceParametreID ? " selected " : ""))>Satışa Devam</option>
                                            <option value="@((int)stokBitince.satisiBitir)" @(urunID == 0 ? "" : ((int)stokBitince.satisiBitir == urun.stokBitinceParametreID ? " selected " : ""))>Satışı Bitir</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Stok Miktar</label>
                                        <input type="number" step="1" name="miktar" class="form-control" placeholder="Stok Miktar" value="@(urunID == 0 ? "0" : urun.miktar.ToString().Replace(',', '.'))" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Minimum Miktar</label>
                                        <input type="number" step="1" name="minimumMiktar" class="form-control" placeholder="Minimum Miktar" value="@(urunID == 0 ? "0" : urun.minimumMiktar.ToString().Replace(',', '.'))" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Fiyat</label>
                                        <input type="number" step="0.01" name="fiyat" class="form-control" placeholder="Fiyat" value="@(urunID == 0 ? "0" : urun.fiyat.ToString().Replace(',', '.'))" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Eski Fiyat</label>
                                        <input type="number" step="0.01" name="eskiFiyat" class="form-control" placeholder="Eski Fiyat" value="@(urunID == 0 ? "0" : urun.eskiFiyat.ToString().Replace(',', '.'))" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Kargo Süresi</label>
                                        <input type="number" step="1" name="kargoSuresi" class="form-control" placeholder="Kargo Süresi" value="@(urunID == 0 ? "0" : urun.kargoSuresi.ToString().Replace(',', '.'))" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Ağırlık</label>
                                        <input type="number" step="0.01" name="agirlik" class="form-control" placeholder="Ağırlık" value="@(urunID == 0 ? "0" : urun.agirlik.ToString().Replace(',', '.'))" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Vergi</label>
                                        <select name="vergiParametreID" class="form-control">
                                            <option value="@((int)vergi.Yuzde0)" @(urunID == 0 ? "" : ((int)vergi.Yuzde0 == urun.vergiParametreID ? " selected " : ""))>%0</option>
                                            <option value="@((int)vergi.Yuzde8)" @(urunID == 0 ? "" : ((int)vergi.Yuzde8 == urun.vergiParametreID ? " selected " : ""))>%8</option>
                                            <option value="@((int)vergi.Yuzde18)" @(urunID == 0 ? "" : ((int)vergi.Yuzde18 == urun.vergiParametreID ? " selected " : ""))>%18</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" @(urunID == 0 ? "" : (urun.vergiDahilSatis == 1 ? "checked" : "")) value="1" name="vergiDahilSatis">
                                        <span>Vergi Dahil Satış</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="ozellikler">
                            <h6>Özellikler</h6>
                            <div class="row clearfix">
                                <div class="table-responsive">
                                    <table class="table table-custom table-hover m-b-0 c_list">
                                        <thead>
                                            <tr>
                                                <th>Özellik</th>
                                                <th>Değer</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ozellik_rows">
                                            @if (urunID != 0 && urun.urunOzellikleri != null)
                                            {
                                                foreach (UrunOzellik urunOzellik in urun.urunOzellikleri)
                                                {
                                                    <tr>
                                                        <td>@urunOzellik.ozellikDeger.ozellik.ozellik</td>
                                                        <td>
                                                            <select class='form-control' name='ozellikID[]'>
                                                                @foreach (DataRow dr in SQL.get("SELECT * FROM ozellikDegerleri WHERE silindi = 0 AND ozellikID = " + urunOzellik.ozellikDeger.ozellikID).Rows)
                                                                {
                                                                    <option value="@dr["ozellikDegerID"]" @(dr["ozellikDegerID"].ToString() == urunOzellik.ozellikDeger.ozellikDegerID.ToString() ? "selected" : "")>@dr["deger"]</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><button onclick='ozellik_sil(this)' class='btn btn-danger' type='button' value='@urunOzellik.ozellikDeger.ozellikID'><i class='fa fa-trash-o'></i></button></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <select id="cmb_ozellik" class="form-control">
                                                        @foreach (Ozellik ozellik in ozellikler)
                                                        {
                                                            <option value="@ozellik.ozellikID">@ozellik.ozellik</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td colspan="2">
                                                    <button type="button" onclick="ozellik_ekle()" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Özellik Ekle</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="resimler">
                            <h6>Resimler</h6>
                            <div class="row clearfix">
                                <input type="file" name="resimler" id="urun_resimleri" class="form-control" accept="image/x-png,image/jpeg" multiple />
                                <hr />
                                <div id="gallery" class="row clearfix">
                                    @if (urunID != 0 && urun.urunResimleri != null)
                                    {
                                        if (turet == 0)
                                        {
                                            foreach (UrunResim urunResim in urun.urunResimleri)
                                            {
                                                <div class="col-md-3">
                                                    <input type='hidden' name='resimPath[]' value='~/Content/icerik/urun/orjinal/@urunResim.resim' />
                                                    <input type='hidden' name='resimID[]' value='@urunResim.urunResimID' />
                                                    <img src='~/Content/icerik/urun/orjinal/@urunResim.resim' class='gallery-item img-fluid' />
                                                    <input name='resimSira[]' type='number' class='form-control' value='@urunResim.sira' autocomplete='off' required />
                                                    <button onclick='resim_sil(this)' type='button' class='btn btn-danger btn-block'><i class='fa fa-trash-o'></i></button>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (urunID != 0 && turet == 0)
    {
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Pazaryeri Entegrasyon</h4>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#n11">N11</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gittigidiyor">Gitti Gidiyor</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#hepsiburada">Hepsi Burada</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#trendyol">Trendyol</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="n11">
                            <h5>n11.com</h5>
                            <form method="POST" action="/Admin/N11KaydetGuncelle">
                                <input type="hidden" name="urunID" value="@urunID" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">n11 Ürün ID</label>
                                            <input type="text" name="n11UrunID" class="form-control" placeholder="n11 Ürün ID" value="@(urun.entegrasyonBilgi == null ? 0 : urun.entegrasyonBilgi.n11UrunID)" autocomplete="off" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">n11 Kategorisi</label>
                                            <div class="input-group mb-3">
                                                <input type="hidden" id="n11KategoriID" name="n11KategoriID" value="@(urun.entegrasyonBilgi == null ? 0 : urun.entegrasyonBilgi.n11KategoriID)" />
                                                <input type="hidden" id="n11KategoriAdi" name="n11KategoriAdi" value="@(urun.entegrasyonBilgi == null ? "" : urun.entegrasyonBilgi.n11KategoriAdi)" />
                                                <input type="text" id="n11KategoriName" class="form-control" placeholder="n11 Kategorisi" value="@(urun.entegrasyonBilgi == null ? "" : urun.entegrasyonBilgi.n11KategoriAdi)" disabled />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#n11KategoriSec">SEÇ</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">n11 Fiyat(%)</label>
                                            <input type="number" step="0.01" name="n11FiyatYuzde" class="form-control" placeholder="n11 Ürün ID" value="@(urun.entegrasyonBilgi == null ? "0.00" : urun.entegrasyonBilgi.n11FiyatYuzde.ToString().Replace(',', '.'))" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">n11 Fiyat(+)</label>
                                            <input type="number" step="0.01" name="n11FiyatArti" class="form-control" placeholder="n11 Ürün ID" value="@(urun.entegrasyonBilgi == null ? "0.00" : urun.entegrasyonBilgi.n11FiyatArti.ToString().Replace(',', '.'))" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">n11 Teslimat Şablonu <small>N11>Hesabım>Teslimat Bilgileri ekranından oluşturabilirsiniz</small></label>
                                            <select name="n11TemplateName" class="form-control">
                                                <option value="">-</option>
                                                @foreach (ShipmentApiModel shipmentApiModel in shipmentApiModels)
                                                {
                                                    <option value="@shipmentApiModel.templateName" @(urun.entegrasyonBilgi == null ? "" : (shipmentApiModel.templateName == urun.entegrasyonBilgi.n11TemplateName ? " selected " : ""))>@shipmentApiModel.templateName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <button type="submit" class="btn btn-primary btn-block">KAYDET</button>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="/Admin/N11Yayinla?urunID=@urunID" class="btn btn-danger btn-block">N11 YAYINLA</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="genel_bilgiler">
                            <h5>gittigidiyor.com</h5>
                        </div>
                        <div class="tab-pane" id="veri">
                            <h5>hepsiburada.com</h5>
                        </div>
                        <div class="tab-pane" id="ozellikler">
                            <h5>trendyol.com</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="n11KategoriSec" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Kategori Seç</h6>
            </div>
            <div class="modal-body">
                <div class="row clearfix" id="n11KategoriSecDiv">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="kategoriID" class="form-control" onchange="getSubCategory(this, 0)">
                                <option value="">SEÇİNİZ</option>
                                @foreach (SubCategory subCategory in topCategories)
                                {
                                    <option value="@subCategory.id">@subCategory.name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>

